{% extends "base.html" %}

{% block content %}
<div class="flex-1 flex flex-col items-center justify-center text-center p-10 h-full mt-40">
    <div class="w-20 h-20 bg-orange-100 rounded-full flex items-center justify-center text-orange-500 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7.5 4.27 9 5.15"/><path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"/><path d="m3.3 7 8.7 5 8.7-5"/><path d="M12 22V12"/></svg>
    </div>
    <h1 class="text-xl font-bold text-gray-800">Категории</h1>
    <p class="text-gray-400 text-sm mt-2">Раздел находится в разработке</p>
</div>
{% endblock %}
