
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="phone-screen">
        <div class="settings-header">
            <a href="home.html" class="nav-btn" style="color: var(--text-main); background: #f1f2f6;"><i class="fas fa-arrow-left"></i></a>
            <h1>Категории</h1>
        </div>
        <div class="settings-content">
            <div class="settings-list">
                <div class="settings-item"><div class="item-text"><h4>Семья</h4></div></div>
                <div class="settings-item"><div class="item-text"><h4>Работа</h4></div></div>
                <div class="settings-item"><div class="item-text"><h4>Друзья</h4></div></div>
            </div>
        </div>
    </div>
</body>
</html>
